<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wordpress Block</title>
  <link rel="icon" type="image/png" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="stylesheets/salesforce-lightning-design-system.min.css" />
  <script src="javascript/jquery3.3.1.min.js"></script>
  <script src="javascript/underscore.js"></script>
  <script>
    var wpEndPoint = '<%= apiurl %>';
  </script>
  <style>
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(2); }
  }
  </style>
</head>

<body class="slds-m-around_small">
  <!-- /block header -->
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_large">
        <img alt="Person name" src="images/icon.png" title="User avatar" />
      </span>
        </div>
        <div class="slds-media__body">
          <h2>
          <a class="slds-card__header-link slds-truncate">
            <span class="slds-text-heading_large">Wordpress CMS</span>
          </a>
        </h2>
        </div>
      </div>
    </header>
  </div>
  <!-- /block header -->
  <div id="block-container">
    <div class="slds-text-heading_medium">Image Configuration</div>
    <br />
    <!-- image link -->
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="image-link">Image Link</label>
      <div class="slds-form-element__control">
        <input type="text" id="image-link" class="slds-input" placeholder="Optional URL for link wrap" />
      </div>
    </div>
    <!-- /image link -->
    </br>
    <!-- image width -->
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="slider-image-width">
                <span class="slds-slider-label">
          <span class="slds-slider-label__label">Image Width</span>
                </span>
            </label>
      <div class="slds-form-element__control">
        <div class="slds-slider">
          <input type="range" id="slider-image-width" class="slds-slider__range" value="300" min="100" max="800" />
          <span class="slds-slider__value" id="slider-image-width-val" aria-hidden="true">300</span>
        </div>
      </div>
    </div>
    <!-- /image width -->
    </br>
    <!-- image height -->
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="slider-image-height">
                <span class="slds-slider-label">
          <span class="slds-slider-label__label">Image Height</span>
                </span>
            </label>
      <div class="slds-form-element__control">
        <div class="slds-slider">
          <input type="range" id="slider-image-height" class="slds-slider__range" value="300" min="100" max="800" />
          <span class="slds-slider__value" id="slider-image-height-val" aria-hidden="true">300</span>
        </div>
      </div>
    </div>
    <!-- /image height -->
    </br>
    <div class="slds-grid slds-gutters">
      <div class="slds-col slds-size_1-of-3">
        <!-- scale to fit -->
        <div>
          <form id="image-scale">
            <fieldset class="slds-form-element">
              <legend class="slds-form-element__legend slds-form-element__label">Scale to Fit</legend>
              <div class="slds-form-element__control">
                <div class="slds-radio_button-group">
                  <span class="slds-button slds-radio_button">
            <input type="radio" name="scale" id="scale-yes" value="yes" />
            <label class="slds-radio_button__label" for="scale-yes">
              <span class="slds-radio_faux">Yes</span>
                  </label>
                  </span>
                  <span class="slds-button slds-radio_button">
            <input type="radio" name="scale" id="scale-no" value="no" checked="checked"/>
            <label class="slds-radio_button__label" for="scale-no">
              <span class="slds-radio_faux">No</span>
                  </label>
                  </span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- /scale to fit -->
      </div>
      <div class="slds-col slds-size_2-of-3">
        <!-- /image alignment -->
        <div>
          <form id="image-alignment">
            <fieldset class="slds-form-element">
              <legend class="slds-form-element__legend slds-form-element__label">Image Alignment</legend>
              <div class="slds-form-element__control">
                <div class="slds-radio_button-group">
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="image-left" value="left" />
        <label class="slds-radio_button__label" for="image-left">
          <span class="slds-radio_faux">Left</span>
                  </label>
                  </span>
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="image-center" value="center" checked="checked"/>
        <label class="slds-radio_button__label" for="image-center">
          <span class="slds-radio_faux">Center</span>
                  </label>
                  </span>
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="image-right" value="right" />
        <label class="slds-radio_button__label" for="image-right">
          <span class="slds-radio_faux">Right</span>
                  </label>
                  </span>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- /image alignment -->
      </div>
    </div>
    <hr />
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_6-of-12">
        <div id="image-selection-title" class="slds-text-heading_medium">Image Selection</div>
      </div>
      <div class="slds-col slds-size_6-of-12">
        <div id="image-selection-count" class="slds-text-heading_medium slds-text-align_right slds-text-color_success"></div>
      </div>
    </div>
    <br />
    <!-- image filters -->
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="image-filter">Select Image Category</label>
      <div class="slds-form-element__control">
        <div class="slds-select_container">
          <select class="slds-select" id="image-filter">
                        <option value="">Please select</option>
                    </select>
        </div>
      </div>
    </div>
    <!-- /image filters -->
    <!-- returned images -->
    <div class="zoom" id="cms-images">
    </div>
  </div>
  <!-- /returned images -->
  <script src="javascript/blocksdk.js"></script>
  <script src="javascript/main.js"></script>
  <!--    <script src="main.js"></script> -->
</body>

</html>
