<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Wordpress Block</title>
  <link rel="icon" type="image/png" href="images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="stylesheets/salesforce-lightning-design-system.min.css" />
  <script src="javascript/jquery3.3.1.min.js"></script>
  <script src="javascript/underscore.js"></script>
  <script>
    var wpEndPoint = '<%= apiurl %>';
  </script>
  <style>
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(2); }
  }
  </style>
</head>

<body class="slds-m-around_small">
  <!-- /block header -->
  <div class="slds-card__header slds-grid">
    <header class="slds-media slds-media_center slds-has-flexi-truncate">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar_large">
        <img alt="Person name" src="images/icon.png" title="User avatar" />
      </span>
        </div>
        <div class="slds-media__body">
          <h2>
          <a class="slds-card__header-link slds-truncate">
            <span class="slds-text-heading_large">Wordpress Blog</span>
          </a>
        </h2>
        </div>
      </div>
    </header>
  </div>
  <!-- /block header -->
  <div id="block-container">
    <!-- title & returned results -->
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_6-of-12">
        <div id="blog-selection-title" class="slds-text-heading_medium">Blog Selection</div>
      </div>
      <div class="slds-col slds-size_6-of-12">
        <div id="blog-counts" class="slds-text-heading_medium slds-text-align_right slds-text-color_success">Retrieving Blog Categories...</div>
      </div>
    </div>
    <!-- /title & returned results -->
    <br />
    <!-- blog category filters -->
    <div class="slds-form-element">
      <label class="slds-form-element__label" for="blog-categories">Select Blog Category</label>
      <div class="slds-form-element__control">
        <div class="slds-select_container">
          <select class="slds-select" id="blog-categories">
                        <option value="">Please select</option>
                    </select>
        </div>
      </div>
    </div>
    <!-- /blog category filters -->
    <br />
    <!-- returned blogs -->
    <div class="slds-form-element" id="blog-element">
      <label class="slds-form-element__label" for="blogs">Select Blog</label>
      <div class="slds-form-element__control">
        <div class="slds-select_container">
          <select class="slds-select" id="blogs">
                        <option value="">Please select</option>
                    </select>
        </div>
      </div>
    </div>
    <!-- /returned blogs -->
    <br />
    <!-- button alignment -->
    <div class="slds-form-element">
          <form id="button-alignment">
            <fieldset class="slds-form-element">
              <legend class="slds-form-element__legend slds-form-element__label">Button Alignment</legend>
              <div class="slds-form-element__control">
                <div class="slds-radio_button-group">
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="button-left" value="left" />
        <label class="slds-radio_button__label" for="button-left">
          <span class="slds-radio_faux">Left</span>
                  </label>
                  </span>
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="button-center" value="center" checked="checked"/>
        <label class="slds-radio_button__label" for="button-center">
          <span class="slds-radio_faux">Center</span>
                  </label>
                  </span>
                  <span class="slds-button slds-radio_button">
        <input type="radio" name="alignment" id="button-right" value="right" />
        <label class="slds-radio_button__label" for="button-right">
          <span class="slds-radio_faux">Right</span>
                  </label>
                  </span>
                </div>
              </div>
            </fieldset>
          </form>
    </div>
        <!-- /button alignment -->

    </div>
  <script src="javascript/blocksdk.js"></script>
  <script src="javascript/main.js"></script>
  <!--    <script src="main.js"></script> -->
</body>

</html>
